.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    justify-items: center;
    justify-content: space-between;
}

@media (max-width: 650px) {
    .container {
        justify-content: center;
    }
}

@media (min-width: 650px) {
    .container {
       padding-right: 7px;
       padding-left: 10px;
    }
}
